.DS_Store
*.swp
*~.nib
.svn

build

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3
*.tm_build_errors
CheckMySite/CheckMySite.xcodeproj/project.pbxproj
CheckMySite/CheckMySite_Prefix.pch
CheckMySite/Classes/CheckMySiteAppDelegate.h
CheckMySite/Classes/CheckMySiteAppDelegate.m
CheckMySite/Classes/FlipsideView.h
CheckMySite/Classes/FlipsideView.m
CheckMySite/Classes/FlipsideViewController.h
CheckMySite/Classes/FlipsideViewController.m
CheckMySite/Classes/MainView.h
CheckMySite/Classes/MainView.m
CheckMySite/Classes/MainViewController.h
CheckMySite/Classes/MainViewController.m
CheckMySite/Classes/RootViewController.h
CheckMySite/Classes/RootViewController.m
CheckMySite/FlipsideView.xib
CheckMySite/Info.plist
CheckMySite/MainView.xib
CheckMySite/MainWindow.xib
CheckMySite/Settings.bundle/Root.plist
CheckMySite/Settings.bundle/en.lproj/Root.strings
CheckMySite/main.m
CocoaAppTest/CocoaAppTest.xcodeproj/TemplateIcon.icns
CocoaAppTest/CocoaAppTest.xcodeproj/project.pbxproj
CocoaAppTest/CocoaAppTest_Prefix.pch
CocoaAppTest/Dot.h
CocoaAppTest/Dot.m
CocoaAppTest/English.lproj/InfoPlist.strings
CocoaAppTest/English.lproj/MainMenu.xib
CocoaAppTest/Info.plist
CocoaAppTest/dotView.h
CocoaAppTest/dotView.m
CocoaAppTest/main.m
FindMeHere/Classes/FindMeHereAppDelegate.h
FindMeHere/Classes/FindMeHereAppDelegate.m
FindMeHere/Classes/FirstViewController.h
FindMeHere/Classes/FirstViewController.m
FindMeHere/FindMeHere.xcodeproj/project.pbxproj
FindMeHere/FindMeHere/Classes/FindMeHereAppDelegate.h
FindMeHere/FindMeHere/Classes/FindMeHereAppDelegate.m
FindMeHere/FindMeHere/Classes/FirstViewController.h
FindMeHere/FindMeHere/Classes/FirstViewController.m
FindMeHere/FindMeHere/FindMeHere.xcodeproj/project.pbxproj
FindMeHere/FindMeHere/FindMeHere_Prefix.pch
FindMeHere/FindMeHere/Info.plist
FindMeHere/FindMeHere/MainWindow.xib
FindMeHere/FindMeHere/SecondView.xib
FindMeHere/FindMeHere/main.m
FindMeHere/FindMeHere_Prefix.pch
FindMeHere/Info.plist
FindMeHere/MainWindow.xib
FindMeHere/SecondView.xib
FindMeHere/main.m
HelloWorld/Classes/HelloWorldAppDelegate.h
HelloWorld/Classes/HelloWorldAppDelegate.m
HelloWorld/HelloWorld.xcodeproj/project.pbxproj
HelloWorld/HelloWorld_Prefix.pch
HelloWorld/Info.plist
HelloWorld/MainWindow.xib
HelloWorld/MyViewController.h
HelloWorld/MyViewController.m
HelloWorld/main.m
LocateMe/Classes/AccuracyPickerItem.h
LocateMe/Classes/AccuracyPickerItem.m
LocateMe/Classes/FlipsideViewController.h
LocateMe/Classes/FlipsideViewController.m
LocateMe/Classes/LocateMeAppDelegate.h
LocateMe/Classes/LocateMeAppDelegate.m
LocateMe/Classes/MainViewController.h
LocateMe/Classes/MainViewController.m
LocateMe/Classes/MyCLController.h
LocateMe/Classes/MyCLController.m
LocateMe/Classes/RootViewController.h
LocateMe/Classes/RootViewController.m
LocateMe/Default.png
LocateMe/FlipsideView.xib
LocateMe/Icon.png
LocateMe/Info.plist
LocateMe/Localizable.strings
LocateMe/LocateMe.xcodeproj/project.pbxproj
LocateMe/LocateMe_Prefix.pch
LocateMe/MainView.xib
LocateMe/MainWindow.xib
LocateMe/ReadMe.txt
LocateMe/main.m
PHP for your mama.key/Contents/PkgInfo
PHP for your mama.key/QuickLook/Thumbnail.jpg
PHP for your mama.key/index.apxl.gz
PHP for your mama.key/thumbs/st0.tiff
PHP for your mama.key/thumbs/st1.tiff
Testing/Classes/TestingAppDelegate.h
Testing/Classes/TestingAppDelegate.m
Testing/Classes/TestingViewController.h
Testing/Classes/TestingViewController.m
Testing/Info.plist
Testing/MainWindow.xib
Testing/Testing.xcodeproj/project.pbxproj
Testing/TestingViewController.xib
Testing/Testing_Prefix.pch
Testing/main.m
~ChristmasLights/ChristmasLights.xcodeproj/project.pbxproj
~ChristmasLights/ChristmasLights_Prefix.pch
~ChristmasLights/Classes/ChristmasLightsAppDelegate.h
~ChristmasLights/Classes/ChristmasLightsAppDelegate.m
~ChristmasLights/Classes/FlipsideView.h
~ChristmasLights/Classes/FlipsideView.m
~ChristmasLights/Classes/FlipsideViewController.h
~ChristmasLights/Classes/FlipsideViewController.m
~ChristmasLights/Classes/MainView.h
~ChristmasLights/Classes/MainView.m
~ChristmasLights/Classes/MainViewController.h
~ChristmasLights/Classes/MainViewController.m
~ChristmasLights/Classes/RootViewController.h
~ChristmasLights/Classes/RootViewController.m
~ChristmasLights/Default.png
~ChristmasLights/FlipsideView.xib
~ChristmasLights/Icon.png
~ChristmasLights/Info.plist
~ChristmasLights/Localizable.strings
~ChristmasLights/MainView.xib
~ChristmasLights/MainWindow.xib
~ChristmasLights/Settings.bundle/Root.plist
~ChristmasLights/Settings.bundle/en.lproj/Root.strings
~ChristmasLights/christmastree.jpg
~ChristmasLights/main.m
~ChristmasLights/xmastree.png
~ChristmasLights/xmastree.psd
~ChristmasLights/xmastree_on.png
~ChristmasLights/xmastree_on.psd
